@use 'src/styles/variables' as v;

.Homepage {
  margin: auto;

  &__Section {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__Presentation {
      color: v.$white;
      text-align: center;
      font-size: 1rem;
      margin: 1rem;
      padding: 1rem;
      font-weight: v.$light;
      text-shadow: 1px 1px 3px v.$dark-grey;
      background: rgba(0, 0, 0, 0.3);

      span {
        display: block;
        font-size: 1.5rem;
        margin-block-end: 1rem;
        font-weight: v.$regular;
      }
      &__Buttons {
        margin-block-start: 2rem;
        text-align: center;
        width: 80%;
        button {
          text-transform: uppercase;
          width: 100%;
          height: 2rem;
          margin-block-end: 1rem;
          background: none;
          border: 2px solid v.$white;
          color: v.$white;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }

    h2 {
      text-align: center;
      font-weight: v.$bold;
      font-size: 1.5rem;
      margin-block-end: 1rem;
      width: 100%;
    }

    select {
      display: block;
      margin: auto;
      text-align: center;
      border: none;
      font-size: 1.2em;
    }
  }

  &__Section:nth-of-type(1) {
    flex-direction: column;
    background-image: url(../../assets/home-bg.png);
    background-position: center;
    background-size: cover;
    padding: 2em;
    text-align: center;
    height: 100vh;
  }

  &__Section:nth-of-type(2) {
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    h2 {
      text-align: center;
      width: 100%;
    }
  }

  &__Section:nth-of-type(3) {
    height: 100vh;
    flex-direction: column;
  }

  &__Section:nth-of-type(4) {
    flex-direction: column;
    padding-block-start: 80px;
  }
}

@media screen and (min-width: 768px) {
  .Homepage {
    h2 {
      font-size: 2rem;
    }

    &__Section {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }

    &__Section__Presentation {
      font-size: 1.2rem;

      span {
        font-size: 1.8rem;
      }

      &__Buttons {
        width: 30%;
        button {
          display: block;
          height: 3rem;
          font-size: 1.1rem;
          margin-block-end: 1rem;
        }
      }
    }

    &__Section:nth-of-type(2) {
      height: 50vh;
      flex-wrap: wrap;
      flex-direction: row;
      font-size: 1.2rem;
    }

    &__Section:nth-of-type(3) {
      height: 100vh;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 992px) {
  .Homepage {
    h2 {
      margin-block-end: 3rem;
    }
    &__Section {
      padding: 2rem;
      display: flex;
    }

    &__Section:nth-of-type(1),
    &__Section:nth-of-type(2),
    &__Section:nth-of-type(3) {
      height: fit-content;
      margin-block-end: 2rem;
      justify-content: center;
    }

    &__Section:nth-of-type(1) {
      height: 100vh;
    }
  }
}
