@use 'src/styles/variables' as v;

.Field {
  &__Input {
    width: 100%;
    padding: 0.7em;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 0.3em;
    height: 2.5em;

    &:focus {
      border-color: black;
    }
  }

  &__Label {
    color: black;
    font-size: 1em;
    animation: labelSlideUpAndShow 0.3s;
  }
}

@keyframes labelSlideUpAndShow {
  0% {
    transform: translateY(1em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}
