/* colors */
$orange: #ebad36;

$red: #eb302a;

$purple: #ae36eb;
$mid-purple: #701f99;
$dark-purple: #522966;

$green: #36eb90;
$mid-green: #1f995c;
$dark-green: #296647;

$light-grey: #e6e6e6;
$mid-grey: #808080;
$dark-grey: #575757;
$deep-grey: #333333;

$black: #141414;
$white: #fff;

/* font-weights */
$light: 200;
$regular: 400;
$bold: 700;
$extra-bold: 800;
