@use 'src/styles/variables' as v;

.AppHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  h1 {
    font-size: 1.5rem;
    font-weight: v.$bold;
  }
  p {
    margin-inline-start: 3rem;
    font-weight: v.$light;

    span {
      font-weight: v.$regular;
    }
  }
}
