@use 'src/styles/variables' as v;

.Login {
  height: 100vh;
  background: linear-gradient(0deg, v.$light-grey, v.$white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    font-size: 1.5rem;
    color: v.$deep-grey;
    font-weight: v.$bold;
    position: relative;
  }
  h2:after {
    content: '';
    position: absolute;
    left: 0;
    top: 130%;
    width: 100%;
    height: 2px;
    background-color: v.$orange;
  }

  &__Form {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__Button {
      font-size: 1em;
      color: v.$mid-purple;
      background-color: v.$orange;
      font-weight: v.$bold;
      border-radius: 0.3em;
      border: 0;
      padding: 0.7em;
      height: 2.5em;

      &:active {
        color: v.$orange;
        background-color: v.$mid-purple;
      }
    }
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}
