@use 'src/styles/variables' as v;

.Login {
  height: 100vh;
  background: linear-gradient(0deg, v.$light-grey, v.$white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    font-size: 1.2rem;
    color: v.$deep-grey;
    font-weight: v.$bold;
    position: relative;
  }
  h2:after {
    content: '';
    position: absolute;
    left: 0;
    top: 130%;
    width: 100%;
    height: 2px;
    background-color: v.$orange;
  }

  &__Error {
    font-weight: bold;
    color: v.$red;
    margin-block-start: -100px;
  }
}

@media screen and (min-width: 768px) {
  .Login {
    h2 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 992px) {
}
